.checkmark {
  display:inline-block;
  width: 5px;
  height:16px;
  -ms-transform: rotate(35deg); /* IE 9 */
  -webkit-transform: rotate(35deg); /* Chrome, Safari, Opera */
  transform: rotate(35deg);

  &__stem {
    position: absolute;
    width:2px;
    height:16px;
    background-color:$grey-dark;
    left:11px;
    top:0px;
  }
  
  &__kick {
    position: absolute;
    width: 7px;
    height: 2px;
    background-color: $grey-dark;
    left: 6px;
    top: 15px;
    -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Chrome, Safari, Opera */
    transform: rotate(20deg);
  }

  &__red {
    background: red;
  }

}
