<nav id="navbar-main" class="navbar is-fixed-top has-background-dark">
  <div class="navbar-brand">
    <a class="navbar-item is-hidden-desktop jb-aside-mobile-toggle">
      <span class="icon"><i class="mdi mdi-forwardburger mdi-24px"></i></span>
    </a>
    
    <% if 1 == 0 %> 
    <!--TODO: dynamic logo --->
    <a class="navbar-item is-hidden-desktop jb-aside-mobile-toggle">
      <div class="navbar-item has-control">
        <%= link_to svg('logo.svg'), root_path, class: "navbar-item no-background mr-5", style: 'width:120px;height:50px;'%>
      </div>
    <% end %>
    <div class="is-flex is-justify-content-center is-align-items-center mx-3">
      <div class="is-size-4 has-text-weight-medium is-family-monospace">cappweb.</div><div class="has-text-weight-semibold is-size-3-desktop is-size-4-touch ">dev</div>
    </div>
  </div>
  <div class="navbar-brand is-right">
    <a class="navbar-item is-hidden-desktop jb-navbar-menu-toggle" data-target="navbar-menu">
      <span class="icon"><i class="mdi mdi-dots-vertical"></i></span>
    </a>
  </div>
  <div class="navbar-menu fadeIn animated faster" id="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item has-dropdown has-dropdown-with-icons has-divider has-user-avatar is-hoverable">
        <a class="navbar-link is-arrowless is-hoverable has-text-white">
          <% if 1 == 0 %>
            <div class="is-user-avatar">
              <img src="https://avatars.dicebear.com/v2/initials/john-doe.svg" alt="John Doe">
            </div>
          <% end %>
          <span class="is-user-name is-size-4 navbar-item has-divider is-desktop-icon-only is-hoverable has-text-white"> <%= current_cadmin_user.name if current_cadmin_user.present? %> </span>
          <span class="icon"><i class="mdi mdi-chevron-down"></i></span>
        </a>
      </div>
      <%= link_to  'Web', root_path, class: 'is-size-4 navbar-item has-divider is-desktop-icon-only is-hoverable has-text-white'%>
      <% if current_cadmin_user %>
          <span class=" is-small is-size-4 navbar-item has-divider is-desktop-icon-only has-text-white">Log out<%= link_to "", logout_path, method: :delete, class: 'delete' %></span>
      <% end %>
    </div>
  </div>
</nav>