
<div class="section is-flex is-justify-content-center">
  <div class="box columns is-multiline">

    <div class="column is-two-thirds is-flex-direction-column">
      <h1 class="title is-size-5 has-text-centered">
        GRACIAS compañero
      </h1>
      <p class="subtitle has-text-centered">
        En breve nos pondremos en contacto contigo para confirmar los datos de la reserva.
      </p>
      <p class="subtitle has-text-centered">
        O también puedes comunicarte con nosotros a traves del siguiente email: <%= WebConfig.first.global_email %> 
        ó bien por telefono ó whatsapp en el número: <%= WebConfig.first.contact_phone %>
      </p>
    </div>
    
    <div class="column is-one-third is-flex is-justify-content-center">
      <figure class="image is-128x128">
        <img src="https://bulma.io/images/placeholders/256x256.png">
      </figure>
    </div>

  </div>
</div>